<%- include('bootheader') -%>
<%- include('menubar') -%>

<form method="post" action="/processform">
  Name: <br><input type="text" name="Name"> <br><br>
  Date: <br><input type="text" name="Date"> <br><br>
  Location: <br><input type="text" name="Location"> <br><br>
  Description: <br><textarea name="Description"></textarea><br>
  <br><br>

  <input type="submit">


</form>

<%- include('bootfooter') -%>
