<%- include('bootheader') -%>
<%- include('navbar') -%>

<form method="post" action="/processform">
  Name: <br><input type="text" name="Name"> <br><br>
  From: <br><input type="date" name="From"> <br><br>
  To: <br><input type="date" name="To"> <br><br>
  Location: <br><input type="text" name="Location"> <br><br>
  Description: <br><textarea name="Description"></textarea> <br><br>
  Picture: <br><input type="text" name="Picture" width="20">
  <br><br>

  <input type="submit">


</form>

<%- include('bootfooter') -%>
