<!--
<form class="form-inline ml-auto" data-background-color>
    <div class="form-group has-white">
      <input type="text" name="search" class="form-control" placeholder="Search">
    </div>
</form> -->

<html>
<script>
  const amadeus = require('./amadeusObject/amadeusCalls.js')
  document.write(amadeus.run)
  </script>
</html>
