<html>
<head>
  <style>
  </style>
    <body>

<footer class="footer footer-default">
  <div class="container">
    <nav>
      <ul>
        <li>
          <a href="">
            Contact Us
          </a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
</div>

<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>


</body>

</html>
