<div class="card">
  <div class="card-body">
    <h5 class="card-title">Add Celebrity</h5>
    <form method="post" action="/processRequest2/<%= convention._id %>">
      Name: <br><input type="text" name="Name"> <br><br>
      Description: <br><textarea name="Description" rows="5" cols="40"></textarea> <br><br>
      Title: <br><input type="text" name="Title"> <br><br>
      Picture: <br><input type="text" name="Picture" class="img-fluid" alt="Responsive image">

      <br><br>
      <input type="submit">
    </form>
  </div>
</div>
<br><br><br>
