
<ol>
<% for(i = 0; i< celebrityList.length; i++){  %>
      <li>
            Name: <%= celebrityList[i].Name%> <br>
            Title:  <%= celebrityList[i].Title %>    <br>
            Description: <%= celebrityList[i].Description %> <br>
            Picture: <%= modLists[i].Picture %> <br>
      </li>
  <% } %>
  </ol>
