<%- include('bootheader') -%>
<%- include('navbar') -%>

<div class="container">
  <div class="row">
    <div class="col-md">
      <div class="jumbotron">
        <a href="/addConvention"><h1 class="text-center text-danger">Add Convention</h1></a>
      </div>
    </div>
    <div class="col-md">
      <div class="jumbotron">
        <a href="/showConventions"><h1 class="text-center text-danger">Show Conventions</h1></a>
      </div>
    </div>
  </div>
</div>



<%- include('bootfooter') -%>
