


    <form method="post" action="/processDiscussion/<%= convention._id %>">
      Title:<br>
      <textarea name="d_title" rows="1" cols="80"></textarea>

      <br>

      Details:<br>
      <textarea name="d_details" rows="5" cols="80"></textarea>

      <br>
      <input class="btn btn-lg btn-warning" type="submit">
    </form>

    <ol><br><br>
    <% for(i = 0; i< discussion.length; i++){  %>
          <li>
                <b>     <%= discussion[i].d_username %> </b>
                Title:  <%= discussion[i].d_title %>    <br>
                Details:<i><%= discussion[i].d_details %> </i><br>
          </li>
      <% } %>
      </ol>
