<%- include('general') %>
<%- include('navbar') %>



 <!-- .site-mobile-menu -->

  <div class="site-blocks-cover overlay" style="background-image: url('images/convention.jpg');" data-aos="fade" data-stellar-background-ratio="0.5" data-aos="fade">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-7 text-center" data-aos="fade-up" data-aos-delay="400">
          <h1 class="mb-4">Turn on The Feeling with Convengo</h1>
          <p><a href="/showConventions" class="btn btn-primary px-4 py-3">Check Out Convention Calender</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="site-section">
    <div class="container">
      <div class="row">
        <div class="site-section-heading text-center mb-5 w-border col-md-6 mx-auto">
          <h2 class="mb-5">Upcoming Conventions</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="100">
          <a href="/showConvention/5d417f48f0010f0a4a4d46d0" class="unit-9">
            <div class="image" style="background-image: url('images/popc.png');"></div>
            <div class="unit-9-content">
              <h2>PopCult Anime Con</h2>
              <span>August 3 &mdash; August 4</span>
              <span>Framingham, MA</span>
            </div>
          </a>
        </div>

        <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="200">
          <a href="/showConvention/5d41819af0010f0a4a4d46d1" class="unit-9">
            <div class="image" style="background-image: url('images/bostonc.png');"></div>
            <div class="unit-9-content">
              <h2>Boston Comic Con</h2>
              <span>August 16 &mdash; August 18</span>
              <span>Boston, MA</span>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
          <a href="/showConvention/5d41819af0010f0a4a4d46d1" class="unit-9">
            <div class="image" style="background-image: url('images/fanc.png');"></div>
            <div class="unit-9-content">
              <h2>FAN EXPO Boston</h2>
              <span>August 18 &mdash; August 19</span>
              <span>Boston, MA</span>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="400">
          <a href="/showConvention/5d418272f0010f0a4a4d46d2" class="unit-9">
            <div class="image" style="background-image: url('images/retro.jpg');"></div>
            <div class="unit-9-content">
              <h2>Retro World</h2>
              <span>Sep 28 &mdash; Sep 29</span>
              <span>Hartford, CT</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="site-section">

    <div class="container">

      <div class="row">
        <div class="site-section-heading text-center mb-5 w-border col-md-6 mx-auto" data-aos="fade-up">
          <h2 class="mb-5">Featured Conventions</h2>
        </div>
      </div>

      <div class="site-block-retro d-block d-md-flex">

        <a href="/showConvention/5d30857fc4233235bac10cae" class="col1 unit-9 no-height" data-aos="fade-up" data-aos-delay="100">
          <div class="image" style="background-image: url('images/Blizz.png');"></div>
          <div class="unit-9-content">
            <h2>BlizzCon</h2>
            <span>November 1 &mdash; November 3</span>
          </div>
        </a>

        <div class="col2 ml-auto">

          <a href="/showConvention/5d31fe48373c040c65bef111" class="col2-row1 unit-9 no-height" data-aos="fade-up" data-aos-delay="200">
            <div class="image" style="background-image: url('images/comicc.png');"></div>
            <div class="unit-9-content">
              <h2>Comic-Con San Diego</h2>
              <span>July 18 &mdash; July 21, 2020</span>
            </div>
          </a>

          <a href="/showConvention/5d4074b0123c702da485ac0e" class="col2-row2 unit-9 no-height" data-aos="fade-up" data-aos-delay="300">
            <div class="image" style="background-image: url('images/e3.png');"></div>
            <div class="unit-9-content">
              <h2>E3</h2>
              <span>June 11 &mdash; June 13, 2020</span>
            </div>
          </a>

        </div>

      </div>

    </div>
  </div>






  <div class="site-section bg-dark">
    <div class="container">
      <div class="row">
        <div class="site-section-heading text-center mb-5 w-border col-md-6 mx-auto" data-aos="fade-up">
          <h2 class="mb-5">New Additions &amp; Updates</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
          <a href="/showConvention/5d3f07c1cf0bcac83c450da5"><img src="images/jason.png" alt="Image" class="img-fluid"></a>
          <div class="p-4 bg-white">
            <span class="d-block text-secondary small text-uppercase">July 20th, 2019</span>
            <h2 class="h5 text-black mb-3"><a href="single.html">Jason Momoa'll join New Mexico Con!</a></h2>

          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
          <a href="/showConvention/5d31fe48373c040c65bef111"><img src="images/t.png" alt="Image" class="img-fluid"></a>
          <div class="p-4 bg-white">
            <span class="d-block text-secondary small text-uppercase">June 23th, 2019</span>
            <h2 class="h5 text-black mb-3"><a href="single.html">Terminator Stars Reunite at Silicon Valley Comic Con for Spotlight Reunion Panel and More!</a></h2>

          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-0" data-aos="fade-up" data-aos-delay="300">
          <a href="/showConvention/5d31fe48373c040c65bef111"><img src="images/KR.png" alt="Image" class="img-fluid"></a>
          <div class="p-4 bg-white">
            <span class="d-block text-secondary small text-uppercase">Jan 20th, 2019</span>
            <h2 class="h5 text-black mb-3"><a href="single.html">It is confirmed! Keanu Reeves'll not attend Comic-Con.</a></h2>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-primary" data-aos="fade">
    <div class="container">
      <div class="row">
        <a href="https://www.facebook.com/Convengo-108830217124850/?modal=admin_todo_tour" class="col-2 text-center py-4 social-icon d-block"><span class="icon-facebook text-white"></span></a>
        <a href="https://twitter.com/asaltyfishh" class="col-2 text-center py-4 social-icon d-block"><span class="icon-twitter text-white"></span></a>
        <a href="https://www.instagram.com/conven_go/" class="col-2 text-center py-4 social-icon d-block"><span class="icon-instagram text-white"></span></a>
        <a href="https://www.facebook.com/Convengo-108830217124850/?modal=admin_todo_tour" class="col-2 text-center py-4 social-icon d-block"><span class="icon-facebook text-white"></span></a>
        <a href="https://twitter.com/asaltyfishh" class="col-2 text-center py-4 social-icon d-block"><span class="icon-twitter text-white"></span></a>
        <a href="https://www.instagram.com/conven_go/" class="col-2 text-center py-4 social-icon d-block"><span class="icon-instagram text-white"></span></a>

      </div>
    </div>
  </div>
<%- include('bootfooter') -%>
