<%- include('bootheader') %>
<%- include('navbar') %>

  <div class="wrapper">
    <div class="page-header page-header-small">
      <div class="page-header-image" data-parallax="true" style="background-image: url('images/convention.jpg');">
      </div>
      <div class="content-center">
        <div class="container">
          <h1 class="title">ConvenGO</h1>
          <div class="text-center">
            <a href="#pablo" class="btn btn-primary btn-icon btn-round">
              <i class="fab fa-facebook-square"></i>
            </a>
            <a href="#pablo" class="btn btn-primary btn-icon btn-round">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#pablo" class="btn btn-primary btn-icon btn-round">
              <i class="fab fa-google-plus"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-about-us">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">What is ConvenGO?</h2>
            <h5 class="description">ConvenGO is a student created web application that focuses on transforming the way individuals research and gather information on game, comic, and anime conventions. To enhance this experience, ConvenGo enables users to post general information questions or comments, buy and resell convention tickets, find potential roommates and fellow cosplayers, and write reviews on conventions they have previously attended.</h5>
          </div>
        </div>
        <div class="separator separator-primary"></div>
        <div class="section-story-overview">
          <div class="row">
            <div class="col-md-6">
              <div class="image-container image-left" style="background-image: url('images/comiccn.jpg')">
                <!-- First image on the left side -->
                <!-- <p class="blockquote blockquote-primary">""
                  <br>
                  <br>
                  <small>-ConvenGo Team</small>
                </p> -->
              </div>
              <!-- Second image on the left side of the article -->
              <div class="image-container" style="background-image: url('images/gamecon.jpg')"></div>
            </div>
            <div class="col-md-5">
              <!-- First image on the right side, above the article -->
              <div class="image-container image-right" style="background-image: url('images/animecon.jpg')"></div>
              <h3> Detailed List of our Features </h3>
              <p>
                Our Convention feature allows users to view a list of conventions in both a list and calendar format. To specify their search, a user can utilize our filter tool to find a convention based on type, location, cost of ticket, date, and more.
                To continue, a user can click on a specific convention to reveal a more detailed description. For instance, it shows the date, location, events, celebrities in attendance, price of ticket, reviews which were written by our very own users, and option to book a hotel.
              </p>
              <p>
                Our Forums feature allows users to connect with other fellow game, anime, and comic convention goers to discuss general information, buy and resell tickets, find potential roommates to decrease the cost of attending, find fellow cosplayers, and write reviews on previously attending conventions.
              </p>
              <p>
                Our Profile features allow users to view their starred posts and posts they have created themselves and view the conventions they are planning to attend.
                For the latter feature, users will be able to view a list of events, a map of the convention, and their ticket. These feature allow for a more convient and enivornmentally friendly approach to carrying a convention pamphlet and map and printing out their ticket.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-team text-center">
      <div class="container">
        <h2 class="title">Here is our team</h2>
        <div class="team">
          <div class="row">
            <div class="col-md-4">
              <div class="team-player">
                <img src="https://raw.githack.com/creativetimofficial/now-ui-kit/master/assets/img/avatar.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                <h4 class="title">Lingyan Xie</h4>
                <p class="category text-primary">Programmer</p>
                <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                  <a href="#">links</a> for people to be able to follow them outside the site.</p>
                  <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
                  <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-instagram"></i></a>
                  <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-facebook-square"></i></a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="team-player">
                  <img src="https://raw.githack.com/creativetimofficial/now-ui-kit/master/assets/img/ryan.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                  <h4 class="title">Daniel Monroy</h4>
                  <p class="category text-primary">Programmer</p>
                  <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                    <a href="#">links</a> for people to be able to follow them outside the site.</p>
                    <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
                    <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-linkedin"></i></a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="team-player">
                    <img src="images/IMG_3363.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                    <h4 class="title">Taylor Simala</h4>
                    <p class="category text-primary">Programmer</p>
                    <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                      <a href="#">links</a> for people to be able to follow them outside the site.</p>
                      <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
                      <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-linkedin"></i></a>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="team-player">
                      <img src="https://raw.githack.com/creativetimofficial/now-ui-kit/master/assets/img/ryan.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                      <h4 class="title">Nicolas Ramirez</h4>
                      <p class="category text-primary">Programmer</p>
                      <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                        <a href="#">links</a> for people to be able to follow them outside the site.</p>
                        <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-linkedin"></i></a>
                      </div>
                    </div>
                <div class="col-md-4">
                  <div class="team-player">
                    <img src="https://raw.githack.com/creativetimofficial/now-ui-kit/master/assets/img/eva.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                    <h4 class="title">Greg Hsu</h4>
                    <p class="category text-primary">Programmer</p>
                    <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                      <a href="#">links</a> for people to be able to follow them outside the site.</p>
                      <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-google-plus"></i></a>
                      <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-youtube"></i></a>
                      <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section section-contact-us text-center">
            <div class="container">
              <h2 class="title">Want to work with us?</h2>
              <p class="description">Your project is very important to us.</p>
              <div class="row">
                <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                  <div class="input-group input-lg">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="now-ui-icons users_circle-08"></i>
                      </span>
                    </div>
                    <input type="text" class="form-control" placeholder="First Name...">
                  </div>
                  <div class="input-group input-lg">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="now-ui-icons ui-1_email-85"></i>
                      </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Email...">
                  </div>
                  <div class="textarea-container">
                    <textarea class="form-control" name="name" rows="4" cols="80" placeholder="Type a message..."></textarea>
                  </div>
                  <div class="send-button">
                    <a href="#pablo" class="btn btn-primary btn-round btn-block btn-lg">Send Message</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <script>

        </script>
<script src="/js/convengo.js"></script>
<%- include('bootfooter') -%>>
