<!DOCTYPE html>
<html>
  <head>
    <title><%= Team 3 %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= Team 3 %></h1>
    <p>Welcome to Team 3 Project <%= title %></p>
    Daniel Monroy <br>
    Taylor Simala <br>


  </body>
</html>
