<!DOCTYPE html>
<html>
  <head>
    <title><%= Team 3 %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
     Taylor Simala <br>
     Daniel Monroy <br>
     Ling Xie<br>
     Greg Hsu <br>
     Aaron Stone <br>

  </body>
</html>
