<%- include('general') -%>
<%- include('navbar') -%>


<div class="site-blocks-bar overlay" style="padding:80px; background-image: url('images/convention.jpg');" data-aos="fade" data-stellar-background-ratio="0.5" data-aos="fade">

</div>


    <div class="jumbotron">
        <h1>Login to ConvenGO </h1>
        <p> You must have a gmail account to login to ConvenGO</p>
        <a class="btn btn-danger" href="/auth/google">
            <span class="fa fa-google-plus"> Google</span>
        </a>
    </div>

<%- include('bootfooter') -%>
