<%- include('navbar') -%>

    <div class="jumbotron">
        <h1>Login to ConvenGO </h1>
        <p> You must have a gmail account to login to ConvenGO</p>
        <a class="btn btn-danger" href="/auth/google">
            <span class="fa fa-google-plus"> Google</span>
        </a>
    </div>

<%- include('bootfooter') -%>
