<div class="site-wrap">

  <div class="site-navbar mt-4">
      <div class="container py-1">
        <div class="row align-items-center">
          <div class="col-8 col-md-8 col-lg-4">
            <h1 class="mb-0"><a href="index.html" class="text-white h2 mb-0"><strong>ConvenGO<span class="text-primary">.</span></strong></a></h1>
          </div>
          <div class="col-4 col-md-4 col-lg-8">
            <nav class="site-navigation text-right text-md-right" role="navigation">

              <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

              <ul class="site-menu js-clone-nav d-none d-lg-block">
                <li class="active">
                  <a href="/">Home</a>
                </li>
                <li><a href="/showConventions">Conventions</a></li>
                <li class="has-children">
                  <a href="shows.html">Profile</a>
                  <ul class="dropdown arrow-top">

                    <% if (loggedIn) { %>
                    <a class="dropdown-item" button type ="button" data-target="#exampleModal2" data-toggle="modal" id="logoutbutton" input onclick="change()">Logout</a>
                    <% if (status == 'modOne') { %>
                    <a class="dropdown-item" href="#" ><b>U'r Moderator Level 1!</b></a>
                    <% } else if (status == 'modTwo') { %>
                    <a class="dropdown-item" href="#" ><b>U'r Moderator Level 2!</b></a>
                    <% } else if (status == 'modThree') { %>
                    <a class="dropdown-item" href="#"><b>U'r Moderator Level 3!</b></a>
                    <% } else if (status == 'modFour') { %>
                    <a class="dropdown-item" href="#" ><b>U'r Moderator Level 4!</b></a>
                    <% } else if (status == 'modFive') { %>
                    <a class="dropdown-item" href="#"><b>U'r Moderator Level 5!</b></a>
                    <% } else if (status == 'owner') { %>
                    <a class="dropdown-item" href="#" ><b>U'r Owner!</b></a>
                    <% } else { %>
                    <a class="dropdown-item" href="#" ><b>U'r Regular User</b></a>
                    <% } %>
                  <% } else { %>
                    <a class="dropdown-item" button type ="button" data-target="#exampleModal" data-toggle="modal" id="loginbutton" input onclick="change()">Login</a>
                  <% } %>
                  <a class="dropdown-item" href="#">Contributions</a>
                  <a class="dropdown-item" href="#">Notifications</a>
                  <a class="dropdown-item" href="#">Requests</a>
                  <a class="dropdown-item" href="/bookmark">Bookmark</a>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>


        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <font style="color:rgb(105, 105, 105)">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h1>Login to ConvenGO </h1>
          <p> You must have a gmail account to login to ConvenGO</p>
          <a class="btn btn-danger" href="/auth/google">
              <span class="fa fa-google-plus"> Google</span>
          </a>
        </div>
      </div>
    </div>
    </div>
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h1>Logout</h1>
          <p> See you soon <3</p>
          <a class="btn btn-danger" href="/logout">
              <!-- <span class="fa fa-google-plus"> Google</span> -->
          </a>
        </div>
      </div>
    </div>
    </div>
    </font>

  <div class="site-mobile-menu">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div> <!-- .site-mobile-menu -->
