<form method="post" action="/processRequest/<%= convention._id %>">
  Hey <%= user.googlename %>, explain
  why you're qualified: <br> <textarea name="m_reason"></textarea><br>
  <br>
  <input class="btn btn-lg btn-warning" type="submit">
</form>
