<div class="card">
  <div class="card-body">
    <h5 class="card-title">Add Vendor</h5>
    <form method="post" action="/processform">
      Name: <br><input type="text" name="Name"> <br><br>
      From: <br><input type="date" name="From"> <br><br>
      To: <br><input type="date" name="To"> <br><br>
      Description: <br><textarea name="Description" rows="5" cols="80"></textarea> <br><br>
      Booth: <br><input type="text" name="Booth"> <br><br>
      Picture: <br><input type="text" name="Picture" class="img-fluid" alt="Responsive image">
      Website: <br><input type="text" name="Website"> <br><br>

      <br><br>

      <input type="submit">
    </form>
  </div>
</div>
<br><br><br>
